In [1]:
import numpy as np
import pandas as pd

# Lendo os dados

- **Fonte**:
    - https://www.kaggle.com/ruslankl/european-union-lgbt-survey-2012 (LGBT-Survey)
    - http://hdr.undp.org/en/indicators/137506 (Human Development Recovery)
    

- **Obs.:** Convertemos os dados da segunda fonte para o formato csv (vide última célula deste notebook). Tivemos que remover um país que estava dando erro na leitura (isso não influenciará a nossa análise).

In [2]:
df_DailyLife = pd.read_csv('./european-union-lgbt-survey-2012/LGBT_Survey_DailyLife.csv')
df_HDI = pd.read_csv('fix_hdi.csv')

# A primeira coluna indica o rank do país no ano de 2017
df_HDI.head()

,(2017),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,..,..,..,..,..,..,..,..,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,..,..,..,..,..,..,..,..,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,..,..,..,..,..,..,..,..,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581

# Limpando os dados

In [3]:
# Pegando apenas a coluna que indica o IDH no ano de 2012
df_HDI = df_HDI[['Country', '2012']]

# Pegando apenas os países da União Europeia
countries = df_DailyLife['CountryCode'].unique()
df_HDI = df_HDI.loc[df_HDI['Country'].isin(countries)]

# Ordenando por ordem crescente e reiniciando os índices
df_HDI = df_HDI.sort_values(by='2012')
df_HDI.reset_index(drop=True, inplace=True)

df_HDI

           Country   2012
0         Bulgaria  0.786
1          Romania  0.795
2          Croatia  0.816
3           Latvia  0.824
4         Portugal  0.829
5          Hungary  0.830
6        Lithuania  0.831
7           Poland  0.836
8         Slovakia  0.842
9            Malta  0.849
10          Cyprus  0.852
11          Greece  0.854
12         Estonia  0.859
13           Spain  0.873
14           Italy  0.874
15        Slovenia  0.877
16          France  0.886
17      Luxembourg  0.892
18  United Kingdom  0.898
19         Austria  0.899
20         Ireland  0.902
21         Belgium  0.905
22          Sweden  0.908
23         Finland  0.908
24     Netherlands  0.921
25         Denmark  0.924
26         Germany  0.928

# Salvando os novos dados em outro arquivo .csv

In [4]:
df_HDI.to_csv('HDI_EU-2012.csv', index=False)

- Aqui temos o código que fizemos para realizar as conversões explicadas na observação do começo deste notebook.
- Deixamos comentado justamente por termos mexido manualmente depois devido àquele erro.

In [5]:
# import csv
# import string

# input_file = open('human_development_index.csv', 'r')
# output_file = open('fix_hdi.csv', 'w')
# specials = '"'

# for line in input_file:
#     new_line = str.replace(line,specials,'')
#     output_file.write(new_line)
    
# input_file.close()
# output_file.close()